/*css for the carousel*/

#body1 {
  margin: 10px 100px;
  

}



.home-product-new-hldr {
  position: relative;
  width:1140px;
  color:black;

}  
  
.home-product-new {
  width:1140px;
  overflow:hidden;
}

.home-grid.products-grid.products-grid--max-4 {
  transition:-ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s;
  position:relative;
  white-space:nowrap;
}

.item-container {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    float:center;
	width:274px;
}  

.slider-btn-hldr-left {
	left: -32px;
}

.slider-btn-hldr-right {
	right: -25px;
}

.slider-btn-hldr {
    bottom: 0;
    display: block;
    padding: 0;
	width: 24px;
    position: absolute;
    top: 40%;
    z-index: 1;
}

.slider-btn {
	background-color: transparent;
    border: 0 none;
    color: buttontext;
    cursor: pointer;
    display: block;
}

.item{
display: inline-block;
}

#left-btn {
	    display: none;
	    margin-top:30px;
}
#right-btn{
	display:block;
	margin-top:30px;
}

.slider-btn svg{
  width: 24px;
  height: 24px;
}
  
.products-grid .item {
	margin-left: 0px;
  margin-right:0px;
	margin-top:0px;
	background: black; 
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	float:left;
}

#showcase1 .button_rss{
  font-family : Trebuchet MS;
  display: inline-block;
  border-radius: 4px;
  background-color: #873a23;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius:12px;     

}

